{% load staticfiles %} 
<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Vpis</title>
        <link rel="stylesheet" href="{% static 'dfchatbox/css/jqtree.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'dfchatbox/css/tree.css' %}">
    </head>

    <body>
    <div id="btnHolder"></div>
    <div class="collapse .collapsing " id="chartsHolder" style="margin-left:12.5%;;margin-top: 1%;">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="DiffValuesCheck">
          <label class="form-check-label" for="DiffValuesCheck">
            Dovoli prikaz različnih vrednosti
          </label>
        </div>
        
        <canvas id="chart" class="chartjs-render-monitor">
    </div>
        
        
    <div id="tree1"></div>

    <div id="tableHolder">

    </body>

    <script type="text/javascript">
        var data = {{ data|safe }};
    </script>

    <script src="{% static 'dfchatbox/js/jquery-2.2.1.min.js' %}"></script>
    <script src="{% static 'dfchatbox/js/tree.jquery.js' %}"></script>
    <script src="{% static 'dfchatbox/js/treeparser.js' %}"></script>
    <script src="{% static 'dfchatbox/js/tableparser.js' %}"></script>
    <script src="{% static 'dfchatbox/js/chartparser.js' %}"></script>
    <script src="{% static 'dfchatbox/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dfchatbox/js/Chart.js' %}"></script>
    <script src="{% static 'dfchatbox/js/Chart.bundle.js' %}"></script>
    <script src="{% static 'dfchatbox/js/tree.js' %}"></script>

</html>