{% load staticfiles %} 
<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Vpis</title>
        <link rel="stylesheet" href="{% static 'dfchatbox/css/jqtree.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'dfchatbox/css/tree.css' %}">
    </head>

    <body>
      <div id="tree1"></div>

      <div id="tableHolder">
      </div>

    </body>

    <script src="{% static 'dfchatbox/js/jquery-2.2.1.min.js' %}"></script>
    <script src="{% static 'dfchatbox/js/tree.jquery.js' %}"></script>
    <script src="{% static 'dfchatbox/js/treeparser.js' %}"></script>
    <script src="{% static 'dfchatbox/js/tableparser.js' %}"></script>
    <script src="{% static 'dfchatbox/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript">
        var data = {{ data|safe }};
        var tables = [];
        var dates = [];
        
        for (var i = 0; i < data.length; i++) {
            tree_data = data[i];
            converted = parseTree(tree_data);

            tree = converted[0];
            entry_time = converted[1];

            unix_time = dates.push(Date.parse(entry_time));

            tabledata = tableFromTreeWithColspan([tree]);

            tablearray = tabledata[0];
            colspanMatrix = rectangulateArray(tabledata[1]);

            tablee = rectangulateArray(tablearray);

            widthMatrix = calculateWidth(tablee);

            shownTable = tableFromArray(tablee,colspanMatrix,widthMatrix);

            tables.push("<table id='entryTable" + i + "' class='table table-bordered table-striped' style='width: 98%;margin-left: 1%;margin-right: 1%;'>" + shownTable + "</table><br>");

        }

        dates = sortWithIndices(dates);
        sort_indices = dates.sortIndices;

        for (var i = 0; i < dates.length; i++) {
            entry_time = new Date(dates[i]).toLocaleDateString();
            $("#tableHolder").append("<p style='margin-left: 5%;'>Datum vpisa: " + entry_time + "</p><br>");
            $("#tableHolder").append(tables[sort_indices[i]]);
        }

        $("tr").addClass("collapse");
        $("tbody tr:first-child").removeClass("collapse");


        $("tbody").click(function(){
            $(this).children(".collapse").toggleClass('show');
        })

    </script>

</html>