body {
	padding-bottom: 20%;
}

table{
	font-size: 14px;
	font-weight: normal;
    text-align: center;
}

th {
	font-size: 14px;
	font-weight: normal;
    text-align: center;
}


tr {
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	visibility: visible;
}

tbody:first-child {
	visibility: visible;
}

.empty {
	border: 1px solid Transparent!important;
	background: white;
}

.value {
	background: #d3d8ea;
	font-size: 15px;
	font-weight: bold;
}

canvas {
	width: 75% !important;
	height: 30% !important
}

#chartBtn {
	background: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .02));
	border-color:  rgba(0, 0, 0, 0.1);
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	padding-left: 40px;
	padding-right: 40px;
	color: #212529;
	margin-right: 5%;

}

#btnHolder {
	background: rgba(0,0,0,.05);
	text-align: right;
	padding: 10px;
}

#tableHolder {
	margin-top: 2%;
}