table{
	font-size: 14px;
	font-weight: normal;
    text-align: center;
}

th {
	font-size: 14px;
	font-weight: normal;
    text-align: center;
}


tr {
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	visibility: visible;
}

tbody:first-child {
	visibility: visible;
}

.empty {
	border: 1px solid Transparent!important;
	background: white;
}

.value {
	background: #d3d8ea;
	font-size: 15px;
	font-weight: bold;
}